# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/contentModel.xml
/projectSettingsUpdater.xml
/.idea.raceGameDiploma.iml
/modules.xml
# Datasource local storage ignored files
/../../../../../../../../../:\Users\den-b\Documents\Unity_progs\raceGameDiploma\.idea\.idea.raceGameDiploma\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
